<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.victor.mapper.DepartmentMapper">

    <select id="selectAllDepartment" resultType="com.victor.pojo.Department">
        select * from student_demo.department;
    </select>


</mapper>